body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.about {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.about img {
    width: 120px;       
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;  
}


.skills {
    padding: 20px;
}

.skills ul {
    list-style-type: square;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer a {
    color: lightblue;
    text-decoration: none;
}
